/*
 * SPDX-FileCopyrightText: 2026 Kaito Udagawa
 *
 * SPDX-License-Identifier: Apache-2.0
 */

*, *::before, *::after {
  box-sizing: border-box;
}

my-bio.fancy {
  --link-font-size: 70px;

  display: block;
  width: fit-content;
  margin-inline: auto;
  padding: 1rem;

  border: 1px solid rgb(255 255 255 / 0.45);
  border-radius: 1rem;
  background: rgb(255 255 255 / 0.1);
  box-shadow: 0 1rem 2.5rem rgb(0 0 0 / 0.12);
  backdrop-filter: blur(0.8rem) saturate(140%);

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  #avater {
    display: block;
    margin-inline: auto;
    border-radius: 50%;
  }

  #name {
    text-align: center;
  }

  #title {
    text-align: center;
  }

  #short-bio {
    width: fit-content;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(240 240 240 / 0.6);
  }

  my-bio-link a {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    padding-inline: 1rem;
    gap: 0.5rem;
    border: 0.5rem solid rgb(255 255 255 / 0.3);
    border-radius: 2rem;
    background: rgb(255 255 255 / 0.8);
    margin-bottom: 0.5rem;
  }

  my-bio-link a, my-bio-link a:visited {
    text-decoration: none;
  }

  my-bio-link strong {
    font-size: var(--link-font-size);
  }
}

